@import "ui-variables";

.es-bindings-pane {
  width: 200px;
  min-height: 100%;
  padding-left: @component-icon-padding;
  padding-right: @component-padding;
  border-left: solid 1px black;
  position: relative;
  overflow: auto;
}

.es-container {
  height: 25px;
  color: white;
  white-space: nowrap;
}

.es-icon {
  display: inline-block;
}

.es-binding {
  font-size: @font-size;
  display: inline-block;
}
