// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.es-bindings-pane {
  width: 200px;
  min-height: 100%;
  padding-left: @component-icon-padding;
  padding-right: @component-padding;
  border-left: solid 1px black;
  position: relative;
  overflow: auto;
}

.es-binding {
  color: @text-color-info;
  font-size: @font-size;
  transition: all 1s;
}

.es-toggle-open::before {
  content: "▶ ";
}

.es-toggle-closed::before {
  content: "▼ ";
}
